@{
    ViewData["Title"] = "TrafFIX";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Utah TrafFIX</h1>
    <p>Our objective is to identify factors that cause car accidents in Utah and provide plausable solutions. We are Utah Traf-FIX. We will fix Traf. </p>
</div>
